body {
  text-align: center;
  color: #d4d4d4;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

img {
  margin-top: -15px;
  align: center;
}

h1, a {
  margin-top: 70px;
}

a {
    margin-left: -145px;
    font-size: 20px;
    text-decoration: underline;
    color: #d4d4d4;
}

a:hover {
    text-decoration: underline;
    color: #a5a5a5;
}

a:active {
    text-decoration: none;
    color: rgba(165, 165, 165, 0.3);
}
