body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: "Verdana", "Tahoma" , serif;
  color: #222222;
  font-style: normal;
  min-width: 1040px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* Button */

.btn {
  display: inline-block;
  position: relative;
  padding: 16px 40px 14px 27px;
  color: #222222;
  background-color: #feca30;
  border-radius:25px;
  font-weight: bold;
  text-transform: uppercase;
  width: 240px;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  min-height: 50px;
}

.btn::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 25px;
  background: url(../img/sprites.png) no-repeat;
  background-position: -536px 0;
  width: 19px;
  height: 16px;
}

.btn:hover {
  background-color: #a5a5a5;
  border-color: #a5a5a5;
}

.btn:active {
  background-color: white;
  border-color: white ;
}

/* Header */

header {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: #222222;
  color: #d4d4d4;
}

.header-top {
  margin: 0;
  padding: 0;
  margin:0;
  padding:0;
  display: flex;
  justify-content: flex-start;
}

.header-logo {
  margin: 0;
  padding: 0;
  background: url(../img/sprites.png);
  background-position: -243px 0;
	width: 60px;
	height: 60px;
  content:'';
  margin-right: 60px;
}

.contacts {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  width: 58px;
  display: flex;
  list-style: none;
  justify-content:space-between;
  margin-left: 512px;
}

.main-nav {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  width: 270px;
  display: flex;
  list-style: none;
  justify-content: space-between;

}

.main-nav a {
    text-decoration: none;
    color: #d4d4d4;
}

.main-nav a:hover {
    text-decoration: underline;
    color: #a5a5a5;
}

.main-nav a:active {
    text-decoration: none;
    color: rgba(165, 165, 165, 0.3);
}

.header-down {
  margin:0;
  padding:0;
  display: flex;
  justify-content: space-between;
}

.galactic-tour {
  margin-left: 120px;
  width: 270px;
  align-self: center;
}

.galactic-tour h1 {
  font-weight: bold;
  font-family: "Courier new", "Times New Roman", serif;
  font-size: 45px;
  line-height: 45px;
  color: white;
  margin-bottom: 50px;
  word-spacing: 3px;
  width: 249px;
}

.galactic-tour p {
    margin-bottom: 60px;
}

.galactic-tour .for-audio {
  margin-bottom: 10px;
}

.img-for-gt {
    align-self: center;
}

/* Advantages */

.advantages {
  min-height: 328px;
  padding: 85px 0 80px 0;
  box-sizing: border-box;
}

.advantages p {
  color: #d4d4d4;
}

.advantages ul {
  margin:0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}


.advantages li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 180px;
}

.advantages li p {
  width: 178px;
  margin: 0;
  padding: 0;
  margin-top: 105px;
}

.advantages-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 68px;
  background: url(../img/sprites.png) no-repeat;
}

.icon-1::before {
background-position: 0 0;
}

.icon-2::before {
background-position: -80px 0;
}

.icon-3::before {
background-position: -326px 0;
}

.icon-4::before {
background-position: -158px 0;
}

.advantages, footer {
  background-color: #131313;
  list-style: none;
}

/* Titles of sections */

.section-title {
  margin: 0;
  font-weight: bold;
  font-family: "Courier New", "Times New Roman", serif;
  font-size: 24px;
  line-height: 30px;
}

/* Content */

.description-and-items {
  padding-top: 83px;
}

.description-map {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.description {
  width: 440px;
}

.description h2 {
  width: 420px;
  margin-bottom: 42px;
}

.description p {
  margin-bottom: 20px;
}

.description p:first-of-type {
  width: 426px;
}

.description p:last-child {
  width: 360px
}

.items-list {
  display: flex;
  justify-content: space-between;
}

.list-item ul {
  width: 440px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style: none;
}


.list-item ul li {
  margin-top: 30px;
  text-indent: -30px;
  margin-left: 31px;
  width: 372px;
}

.list-item:first-of-type ul li:first-child {
  width: 330px;
}

.list-item ul li::before {
  content:"";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #feca30;
  display: inline-block;
  margin-right: 23px;
}

/* Form */

.feedback {
  padding: 85px 0;
  background-color: #f0f0f0;
}

.feedback-tip {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  width: 340px;
}

.feedback-tip h2 {
  width: 260px;
}

.feedback-tip p {
  width: 340px;
}

.feedback-sorry {
  color: #FF4500;
}

.feedback-form {
  width: 440px;
}

.feedback-form-group {
  margin-bottom: 8px;
}

.height-and-weight {
  display: flex;
  justify-content: space-between;
}

.height-and-weight .feedback-form-group {
  width: 215px;
}

.feedback-form input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 16px 21px;
  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
  color: inherit;
  font-style: normal;
}

.checkbox-area {
  font-size: 13px;
  vertical-align: middle;
}

.checkbox-area input {
  display: none;
}

input + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  margin-right: 16px;
  margin-bottom: 33px;
  margin-top: 33px;
  vertical-align: middle;
  cursor: pointer;
}

input:checked + label::before {
  background-image: url(../img/sprites.png);
  background-position: -450px 0;
  cursor: pointer;
}

.feedback-form .btn {
  position: relative;
  color: #ffffff;
  width: 215px;
  border: 1px solid #222222;
  padding: 16px 40px 16px 26px;
  background: url(../img/right-arrow-white.png) 170px center no-repeat;
  background-color: #222222;
}



.feedback-form .btn:hover {
  background-color: #a5a5a5;
  border-color: #a5a5a5;
}

.feedback-form .btn:active {
  background-color: gray;
  border-color: gray ;
}

/* Table */

.flight-schedule {
  padding: 96px 0 85px 0;
  background-color: #222222;
  color: #ffffff;
}

.flight-schedule .section-title {
  color: #feca30;
  width: 143px;
}

.schedule {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}

.flight-schedule p {
  font-size: 13px;
  line-height: 18px;
  width: 420px;
}

.flight-schedule a {
  color: #feca30;
}

.flight-schedule a:hover {
  color: #e9b653;
}

.flight-schedule a:active {
  color: rgba( 233, 182, 83, 0.3);
  text-decoration: none;
}

.flight {
  width: 100%;
  border-collapse: collapse;
}

.flight th, .flight td {
  border-bottom: 1px solid #555555;
  text-align: left;
  padding: 15px 40px ;
  width: 180px;
}

.flight th {
  background-color: #111111;
}

.flight .flight-number {
  padding-left: 23px;
  width: 157px;
}

/* Footer */

footer {
  padding-top: 60px;
  padding-bottom: 80px;
  font-size: 13px;
  line-height: 18px;
}

.footer-top {
  position: relative;
  margin: 0;
  padding: 0;
  width: 180px;
  min-height: 200px;
}

.footer-logo {
  margin: 0;
  padding: 0;
  background: url(../img/sprites.png) no-repeat;
  background-position: -243px 0;
	width: 60px;
	height: 60px;
  content:"";
  margin-right: 60px;
}

.footer-logo span {
  display: inline-block;
  margin-top: 20px;
  margin-left: 80px;
  width: 80px;
  color: #d4d4d4;
  font-size: 14px;
  line-height: 20px;
}

.footer-middle {
  margin: 0;
  padding: 0;
  display: flex;
  width: 700px;
  justify-content: space-between;
}

.footer-menu h3 {
  text-transform: uppercase;
  display: inline-block;
  width: 180px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  line-height: 20px;
}

.footer-menu ul {
  border-top: 1px solid #555555;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  list-style: none;
}

.footer-menu li{
  margin-top: 20px;
}

.footer-menu li:first-child{
  margin-top: 50px;
}

.footer-menu a {
    text-decoration: none;
    color: #888888;
}

.footer-menu a:hover {
    text-decoration: underline;
    color: #a5a5a5;
}

.footer-menu a:active {
    text-decoration: none;
    color: rgba(165, 165, 165, 0.3);
}

.footer-copyright {
  width: 160px;
  position: absolute;
  bottom:0;
  color: #555555;
}
